.sidebar::after {
  content: "";
  position: sticky;
  bottom: 0;
  height: 40px;
  display: block;
  background: linear-gradient(to top, white, transparent);
}

.leaflet-container .leaflet-control-zoom {
  transform: translateX(30px);
}